@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-display: "Space Grotesk", sans-serif;

  --color-bnb-yellow: #F3BA2F;
  --color-bnb-dark: #1E2329;
  --color-bnb-black: #0B0E11;
}

@layer base {
  body {
    @apply bg-bnb-black text-gray-100 font-sans antialiased;
  }
}
